<header class="site-header">
  <div class="site-header__inner">
    <a href="/index.html#hero" class="site-header__logo">Fahrly</a>

    <nav class="site-nav">
      <a href="/index.html#features" class="site-nav__link">Funktionen</a>
      <a href="/index.html#pricing" class="site-nav__link">Preise</a>
      <a href="/index.html#testimonials" class="site-nav__link">Kunden</a>
      <a href="/index.html#security" class="site-nav__link">Sicherheit</a>
      <a href="/index.html#faq" class="site-nav__link">FAQ</a>
    </nav>

    <div class="site-header__actions">
      <a href="https://qpp.fahrlygo.de/account/login" class="site-header__secondary">Login</a>
      <a href="https://qpp.fahrlygo.de/account/get-signup-link" class="btn btn-primary">Jetzt testen</a>
    </div>
  </div>
</header>
